@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main04 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  background: #f5f5f5;

  .for-center-main04 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .one-h2-tag {
      // border: 2px solid green;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 65px;

      h2 {
        font-size: 66px;
      }
    }

    .main-big-div {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;

      .div-part-one {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .div-one {
          padding-bottom: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .div-two {
          padding-bottom: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .div-part-two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .div-three {
          // padding-bottom: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .div-four {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
