.main01 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  position: relative;

  .big-div-one {
    background-color: rgba(
      249,
      249,
      249,
      0.8
    ); // light color with some transparency
    width: 610px; // equal width and height for a perfect square
    height: 610px;
    border-radius: 50px; // gives a smooth rounded-square look
    position: absolute;
    transform: rotate(45deg);
    left: -190px;
    top: 120px;
    z-index: -1;
  }

  .big-div-two {
    background-color: rgba(
      249,
      249,
      249,
      0.8
    ); // light color with some transparency
    position: absolute;
    border-radius: 50px;
    z-index: -1;
    transform: rotate(35deg);
    width: 320px;
    height: 320px;
    right: -180px;
    bottom: 60px;
  }
  .for-center-main01 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .div-one {
      //   border: 2px solid green;
      display: flex;
      align-items: center;
      width: 10.7%;
      justify-content: space-between;
      margin-bottom: 520px;

      .square-box-color {
        // border: 2px solid green;
        background-color: #d52121;
        width: 10px;
        height: 10px;
        border-radius: 2px;
      }

      h4 {
        font-size: 18px;
        font-weight: 500;
        color: #29292b;
      }
    }

    .div-two {
      //   border: 2px solid green;
      width: 75%;
      display: flex;
      flex-direction: column;
      // align-items: center;

      h3 {
        font-size: 48px;
        font-weight: 640;
        line-height: 1.2;
        color: #1e1e1e;
      }

      .handling-button {
        // border: 2px solid red;
        padding: 65px 0px;
      }

      .handling-two-divs {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .part-one {
          // border: 2px solid blue;
          display: flex;
          flex-direction: column;
          width: 45%;

          h5 {
            font-size: 18px;
            font-weight: 700;
            color: #29292b;
          }

          p {
            font-size: 18px;
            padding-top: 15px;
            width: 87%;
            line-height: 1.5;
            color: #7f7f80;
            font-weight: 500;
          }
        }

        .part-two {
          // border: 2px solid purple;
          display: flex;
          flex-direction: column;
          width: 45%;

          h5 {
            font-size: 18px;
            font-weight: 700;
            color: #29292b;
          }

          p {
            font-size: 18px;
            padding-top: 15px;
            width: 87%;
            line-height: 1.5;
            color: #7f7f80;
            font-weight: 500;
          }
        }
      }
    }
  }
}
