@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.footer {
  //   border: 2px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-top: 55px;
  .for-center-footer {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .big-div {
      // border: 2px solid green;
      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        font-size: 95px;
        text-align: center;
        font-weight: 840;
        width: 55%;
        line-height: 1;
        letter-spacing: 10px;
        color: white;
      }

      .two-buttons {
        // border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 65px;

        .email-capsule {
          // border: 2px solid red;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          padding: 10px;
          border-radius: 50px;

          h3 {
            font-size: 15px;
            color: black;
            font-weight: 500;
          }
        }

        .button-two {
          // border: 2px solid red;
          // margin-top: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      // .middle-div {
      //   // border: 2px solid blue;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   padding: 35px 0px;

      //   .part-one-div {
      //     //   border: 2px solid red;
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //     justify-content: center;
      //     padding-right: 20px;

      //     h3 {
      //       font-size: 15px;
      //       color: white;
      //     }

      //     h4 {
      //       font-size: 11px;
      //       color: white;
      //     }
      //   }

      //   .img-div {
      //     // border: 2px solid red;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     width: 55%;
      //     img {
      //       width: 95%;
      //       padding-left: 35px;
      //     }
      //   }

      //   .part-two-div {
      //     //   border: 2px solid green;
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //     justify-content: center;
      //     padding-left: 20px;

      //     h3 {
      //       font-size: 15px;
      //       color: white;
      //     }

      //     h4 {
      //       font-size: 11px;
      //       color: white;
      //     }
      //   }
      // }

      .paragraph-tag {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 55px;

        .one-para-tag {
          // border: 2px solid blue;
          font-size: 25px;
          text-align: center;
          font-weight: 650;
          line-height: 1.4;
          width: 80%;
          padding: 15px 0px;
          color: white;
        }

        .links {
          // border: 2px solid green;
          display: flex;
          width: 35%;
          justify-content: space-between;
          padding: 25px 0px;
          margin-top: 25px;

          h2 {
            font-size: 20px;
            display: flex;
            font-weight: 500;
            color: white;

            i {
              font-size: 20px;
              padding-left: 6px;
              color: white;
            }
          }
        }
      }
    }
  }

  .last-footer-strip {
    // border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    margin-top: 35px;
    background-color: white;

    h4 {
      color: black;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
