@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.header {
  //   border: 2px solid red;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;

  .glowing-light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px; // slightly bigger for softer spread
    height: 700px;
    background: radial-gradient(
      circle,
      rgba(213, 33, 33, 0.6) 0%,
      transparent 75%
    );
    transform: translate(-50%, -35%);
    filter: blur(200px); // more blur for smoother glow
    z-index: 1; // behind the main image
    opacity: 0.6; // reduced intensity
  }

  .ashar-bg {
    // border: 2px solid red;
    position: absolute;
    width: 35%;
    // bottom: 10px;
    top: 90px;
    z-index: 2;
    left: 20px;
  }

  .hamid-pic {
    position: absolute;
    width: 35%;
    right: 20px;
    z-index: 2;
    bottom: 200px;
  }

  .ashar-big-picture {
    // border: 2px solid red;
    position: absolute;
    left: 370px;
    transform: translateX(-63%);
    scale: 0.85;
    z-index: 2;
    width: 975px;
  }

  .one-line-para {
    // border: 2px solid red;
    position: absolute;
    color: white;
    bottom: 40px;
    // right: 100px;
    max-width: 530px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-size: 23px;
    left: 20px;
  }

  // .nav {
  //   border: 2px solid blue;
  //  width: 100%;
  // }
}
