// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Unbounded:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');


////COLOR PALETES
$white: #ffffff;
$offWhite: #F1F5F9;
$purple: #701A75;
$yellow: #FBBF24;
$lightblue: #0284C7;
$blue: #0F172A;
$darkBlue: #475569;
$black: #000;
$orange: #FF5349;


//FONT SIZES
$h1: 75px;
$h2: 45px;
$h3: 31px; 
$h4: 23px;
$h5: 16px;
$paraFont: 23px;
$btnText: 16px; 
$anchortag: 16px;


//FONT FAMILY 
// $fontLora: 'Lora';
// $fontInstrument: 'Instrument Sans';
// $fontUnbounded: 'Unbounded';
// $fontGrotesk: 'Host Grotesk';


//FONT WEIGHTS
$light: 70;
$regular: 500;
$medium: 700;
$bold: 900;