.case-study-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  z-index: 5;

  h5 {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
  }

  &:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  }
}
