@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.case-study-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  h5 {
    font-size: 17px;
    font-weight: 400;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

