.about-me {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;

    .for-center-aboutme {
        // border: 2px solid blue;
        max-width: 1600px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .div-one {
            // border: 2px solid green;
            width: 55%;
            display: flex;
            flex-direction: column;

            p {
                font-size: 20px;
                padding-bottom: 25px;
                width: 95%;
                line-height: 1.8;
            }

        }

        .div-two {
            // border: 2px solid blue;
      margin-right:5%;
        }
        
    }
}