@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

/* Form elements clean-up */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Space Grotesk font" , "Demi";
}

html,
body {
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  margin: 0;
}
