@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main04 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  position: relative;

  @include breakpoint(mobile-lg) {
    padding: 55px 0px;
  }

  @include breakpoint(mobile-sm) {
    padding: 65px 0px;
  }

  .for-center-main04 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;

    @include breakpoint(desktop) {
      width: 95%;
    }

    .two-divs-handling-3 {
      // border: 2px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 65px;

      @include breakpoint(tablet-lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @include breakpoint(mobile-lg) {
        padding-bottom: 35px;
      }

      .div-three {
        // border: 2px solid green;
        display: flex;
        align-items: center;
        width: 11%;
        justify-content: space-between;
        margin-bottom: 110px;

        @include breakpoint(laptop) {
          width: 15%;
          margin-bottom: 130px;
        }

        @include breakpoint(laptop-md) {
          margin-bottom: 120px;
        }

        @include breakpoint(laptop-sm) {
          margin-bottom: 95px;
        }

        @include breakpoint(tablet-lg) {
          width: 14%;
          margin-bottom: 15px;
        }

        @include breakpoint(tablet) {
          width: 21%;
          margin-bottom: 15px;
        }

        @include breakpoint(tablet-sm) {
          width: 23%;
        }

        @include breakpoint(mobile-lg) {
          width: 37%;
        }

        @include breakpoint(mobile-md) {
          width: 38%;
        }

        @include breakpoint(mobile) {
          width: 39%;
        }

        @include breakpoint(mobile-sm) {
          width: 41%;
        }

        @include breakpoint(mobile-xs) {
          width: 42%;
        }

        @include breakpoint(mobile-xxs) {
          width: 40%;
        }

        .square-box-color {
          // border: 2px solid green;
          background-color: #d52121;
          width: 11px;
          height: 10px;
          border-radius: 2px;

          @include breakpoint(tablet) {
            width: 15px;
            height: 15px;
          }

          @include breakpoint(mobile-lg) {
            width: 14px;
            height: 14px;
          }

          @include breakpoint(mobile-xxs) {
            width: 13px;
            height: 13px;
          }
        }

        h4 {
          font-size: 18px;
          font-weight: 500;
          color: #29292b;

          @include breakpoint(laptop-sm) {
            font-size: 16px;
          }

          @include breakpoint(tablet-lg) {
            margin-left: 0px;
            font-size: 20px;
          }

          @include breakpoint(tablet) {
            font-size: 25px;
            margin-left: 0px;
          }

          @include breakpoint(mobile-lg) {
            margin-left: 0px;
            font-size: 23px;
          }

          @include breakpoint(mobile-sm) {
            font-size: 23px;
          }

          @include breakpoint(mobile-xxs) {
            font-size: 20px;
            margin-left: 15px;
          }
        }
      }

      .h2-p-tags {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;

        @include breakpoint(laptop) {
          margin-right: 0px;
        }

        h2 {
          text-align: center;
          font-size: 110px;
          font-weight: 600;
          color: #1e1e1e;

          @include breakpoint(desktop) {
            font-size: 100px;
          }

          @include breakpoint(laptop) {
            font-size: 90px;
          }

          @include breakpoint(laptop-md) {
            font-size: 85px;
          }

          @include breakpoint(tablet-lg) {
            font-size: 65px;
          }

          @include breakpoint(tablet) {
            font-size: 70px;
            text-align: center;
          }

          @include breakpoint(tablet-sm) {
            font-size: 67px;
          }

          @include breakpoint(mobile-lg) {
            font-size: 38px;
            line-height: 1.3;
          }

          @include breakpoint(mobile-md) {
            font-size: 37.5px;
          }

          @include breakpoint(mobile) {
            font-size: 36px;
          }

          @include breakpoint(mobile-sm) {
            font-size: 33.9px;
          }

          @include breakpoint(mobile-xs) {
            font-size: 32.5px;
          }

          @include breakpoint(mobile-xxs) {
            font-size: 31.25px;
          }
        }

        p {
          text-align: center;
          font-size: 20px;
          width: 80%;
          padding-top: 15px;
          color: #7f7f80;
          font-weight: 500;
          line-height: 1.3;

          @include breakpoint(desktop) {
            font-size: 20px;
            width: 85%;
          }

          @include breakpoint(laptop) {
            width: 80%;
          }

          @include breakpoint(laptop-md) {
            font-size: 18px;
            width: 80%;
          }

          @include breakpoint(laptop-sm) {
            width: 85%;
          }

          @include breakpoint(tablet-lg) {
            padding-top: 10px;
            width: 85%;
          }

          @include breakpoint(tablet) {
            width: 95%;
          }

          @include breakpoint(tablet-sm) {
            width: 100%;
          }

          @include breakpoint(mobile-lg) {
            width: 100%;
          }

          @include breakpoint(mobile-md) {
            width: 100%;
          }

          @include breakpoint(mobile) {
            width: 100%;
          }

          @include breakpoint(mobile-xxs) {
            width: 100%;
          }
        }
      }
    }

    .handling-boxes {
      // border: 2px solid green;
      display: flex;
      flex-direction: column;

      .component-box-one {
        // border: 2px solid purple;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(tablet-lg) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 40px;
        }
      }

      // .component-box-two {
      //   // border: 2px solid purple;
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   margin-top: 25px;
      // }
    }
  }
}
