.main04 {
  //   border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0px;

  .for-center-main04 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;

    .two-divs-handling-3 {
      // border: 2px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 65px;

      .div-three {
        // border: 2px solid green;
        display: flex;
        align-items: center;
        width: 10%;
        justify-content: space-between;
        margin-bottom: 85px;

        .square-box-color {
          // border: 2px solid green;
          background-color: #d52121;
          width: 11px;
          height: 10px;
          border-radius: 2px;
        }

        h4 {
          font-size: 18px;
          font-weight: 500;
          color: #29292b;
        }
      }

      .h2-p-tags {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 300px;

        h2 {
          text-align: center;
          font-size: 110px;
          font-weight: 600;
          color: #1e1e1e;
        }

        p {
          text-align: center;
          font-size: 18px;
          width: 60%;
          padding-top: 8px;
          color: #7f7f80;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }

    .handling-boxes {
      // border: 2px solid green;
      display: flex;
      flex-direction: column;

      .component-box-one {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .component-box-two {
        // border: 2px solid purple;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
      }
    }
  }
}
