.small-box-two {
    // border: 2px solid red;
  background-color: #f5f4f3;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 48%;

  .div-one {
    // border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .number-div {
      font-size: 30px;
      color: #29292b;
      font-weight: 600;
    }

    .filled-circle-div {
      display: flex;
      align-items: center;
    }
  }

  .div-two {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;

    .div-three {
        // border: 2px solid green;
      display: flex;
      align-items: center;
      width: 28%;
      justify-content: space-between;
      margin-bottom: 10px;

      .square-box-color {
        // border: 2px solid green;
        background-color: #d52121;
        width: 13px;
        height: 13px;
        border-radius: 2px;
      }

      h4 {
        font-size: 18px;
        font-weight: 500;
        color: #29292b;
      }
    }

    .handling-h5 {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 18px;
        font-weight: 500;
        padding: 10px 0px;
        color: #63615e;
      }
    }
  }
}
