@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main03 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  // background: #f5f5f5;
  position: relative;

  @include breakpoint(laptop){
    padding: 60px 0px;
  }

  @include breakpoint(tablet){
    padding: 50px 0px;
  }

  @include breakpoint(mobile-lg){
    padding: 30px 0px;
  }

  .big-div-one {
    background-color: rgba(
      249,
      249,
      249,
      0.8
    ); // light color with some transparency
    width: 510px; // equal width and height for a perfect square
    height: 510px;
    border-radius: 50px; // gives a smooth rounded-square look
    position: absolute;
    transform: rotate(45deg);
    left: -200px;
    top: 120px;
    z-index: -1;

    @include breakpoint(xl-desktop) {
      top: 170px;
    }

    @include breakpoint(laptop){
      top: 120px;
    }

    @include breakpoint(laptop-md){
      width: 490px;
      height: 470px;
      left: -230px;
    }

    @include breakpoint(tablet-sm){
      top: 110px;
    }

    @include breakpoint(mobile-lg){
      width: 440px;
      height: 440px;
      top: 90px;
    }
  }

  .for-center-main03 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(desktop) {
      width: 95%;
    }

    .two-divs-handling-2 {
      // border: 2px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 65px;

      @include breakpoint(tablet-lg){
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .div-two {
        // border: 2px solid green;
        display: flex;
        align-items: center;
        width: 8%;
        justify-content: space-between;
        margin-bottom: 85px;

        @include breakpoint(laptop) {
          width: 10%;
        }

        @include breakpoint(tablet-lg) {
          width: 15%;
          margin-bottom: 15px;
        }

        @include breakpoint(tablet) {
          width: 22%;
          margin-bottom: 15px;
        }

        @include breakpoint(tablet-sm){
          width: 24%;
        }

        @include breakpoint(mobile-lg){
          width: 55%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .square-box-color {
          // border: 2px solid green;
          background-color: #d52121;
          width: 11px;
          height: 10px;
          border-radius: 2px;

          @include breakpoint(tablet) {
            width: 15px;
            height: 15px;
          }

          @include breakpoint(mobile-lg){
            width: 14px;
            height: 14px;
          }

          @include breakpoint(mobile-xxs){
            width: 13px;
            height: 13px;
          }
        }

        h4 {
          font-size: 18px;
          font-weight: 500;
          color: #29292b;

          @include breakpoint(laptop-sm) {
            font-size: 16px;
          }

          @include breakpoint(tablet-lg) {
            margin-left: 15px;
            font-size: 20px;
          }

          @include breakpoint(tablet) {
            font-size: 25px;
            margin-left: 0px;
          }

          @include breakpoint(mobile-lg){
            margin-left: 15px;
            font-size: 23px;
          }

          @include breakpoint(mobile-sm){
            font-size: 23px;
          }

          @include breakpoint(mobile-xxs){
            font-size: 20px;
            margin-left: 15px;
          }
        }
      }

      .h2-p-tags {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 290px;

        @include breakpoint(desktop) {
          margin-right: 330px;
        }

        @include breakpoint(laptop) {
          margin-right: 260px;
        }

        @include breakpoint(laptop-md) {
          margin-right: 250px;
        }

        @include breakpoint(laptop-sm) {
          margin-right: 220px;
        }

        @include breakpoint(tablet-lg) {
          margin-right: 0px;
        }

        @include breakpoint(tablet) {
          margin-right: 0px;
        }

        h2 {
          text-align: center;
          font-size: 110px;
          font-weight: 600;
          color: #1e1e1e;

          @include breakpoint(desktop) {
            font-size: 100px;
          }

          @include breakpoint(laptop) {
            font-size: 90px;
          }

          @include breakpoint(laptop-md) {
            font-size: 85px;
          }

          @include breakpoint(tablet-lg) {
            font-size: 65px;
          }

          @include breakpoint(tablet) {
            font-size: 75px;
            text-align: center;
          }

           @include breakpoint(mobile-lg) {
            font-size: 38px;
            line-height: 1.3;
          }

          @include breakpoint(mobile-md){
            font-size: 37.5px;
          }

          @include breakpoint(mobile) {
            font-size: 36px;
          }

          @include breakpoint(mobile-sm) {
            font-size: 33.90px;
          }

          @include breakpoint(mobile-xs){
            font-size: 32.50px;
          }

          @include breakpoint(mobile-xxs) {
            font-size: 31.25px;
          }
        }

        p {
          text-align: center;
          font-size: 20px;
          width: 85%;
          padding-top: 15px;
          color: #7f7f80;
          font-weight: 500;
          line-height: 1.3;

          @include breakpoint(desktop) {
            font-size: 20px;
            width: 90%;
          }

          @include breakpoint(laptop-md) {
            font-size: 18px;
            width: 100%;
          }

          @include breakpoint(tablet-lg) {
            padding-top: 10px;
            width: 100%;
          }

          @include breakpoint(tablet) {
            width: 90%;
          }

          @include breakpoint(mobile-lg){
            width: 95%;
          }

          @include breakpoint(mobile-md){
            width: 100%;
          }
        }
      }
    }

    .rotating-pics {
      // border: 2px solid green;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
