.main03 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  // background: #f5f5f5;
position: relative;

  
  .big-div-one {
    background-color: rgba(249, 249, 249, 0.8); // light color with some transparency
    width: 510px; // equal width and height for a perfect square
    height: 510px;
    border-radius: 50px; // gives a smooth rounded-square look
    position: absolute;
    transform: rotate(45deg);
    left: -200px;
    top: 120px;
    z-index: -1;
  }

 

  .for-center-main03 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .two-divs-handling-2 {
      // border: 2px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 65px;

      .div-two {
        // border: 2px solid green;
        display: flex;
        align-items: center;
        width: 8%;
        justify-content: space-between;
        margin-bottom: 85px;

        .square-box-color {
          // border: 2px solid green;
          background-color: #d52121;
          width: 11px;
          height: 10px;
          border-radius: 2px;
        }

        h4 {
          font-size: 18px;
          font-weight: 500;
          color: #29292b;
        }
      }

      .h2-p-tags {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 320px;

        h2 {
          text-align: center;
          font-size: 110px;
          font-weight: 600;
          color: #1e1e1e;
        }

        p {
          text-align: center;
          font-size: 18px;
          width: 75%;
          padding-top: 8px;
          color: #7f7f80;
          font-weight: 500;
          line-height: 1.3;
        }
      }
    }

    .rotating-pics {
      // border: 2px solid green;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
