@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main02 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px 0px;
  // background: #f5f5f5;

  .for-center-main02 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .two-divs-handling-1 {
      // border: 2px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 65px;

      .div-two {
          // border: 2px solid green;
        display: flex;
        align-items: center;
        width: 9.6%;
        justify-content: space-between;
        margin-bottom: 85px;

        .square-box-color {
          // border: 2px solid green;
          background-color: #d52121;
          width: 11px;
          height: 10px;
          border-radius: 2px;
        }

        h4 {
           font-size: 18px;
        font-weight: 500;
        color: #29292b;
        }
      }

      .h2-p-tags {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 60px;

        h2 {
          text-align: center;
          font-size: 110px;
          font-weight: 600;
          color: #1E1E1E;
        }

        p {
          text-align: center;
          font-size: 18px;
          width: 60%;
          padding-top: 8px;
          color: #7F7F80;
            font-weight: 500;
              line-height: 1.3;
        }
      }
    }

    .main-big-div {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;

      .single-div-one {
        // border: 2px solid blue;
        width: 100%;

        .div-one {
          // border: 2px solid red;
          // display: flex;
          // justify-content: center;
          // align-items: center;
        }
      }

      .two-div {
        // border: 2px solid red;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0px;

        .div-two {
          // padding-bottom: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48.5%;
        }

        .div-three {
          // padding-bottom: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48.5%;
        }
      }

      .single-div-two {
        // border: 2px solid blue;
        width: 100%;

        .div-four {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
