@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main02 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;

  @include breakpoint(tablet-lg){
    padding: 75px 0px;
  }
  
  @include breakpoint(mobile-lg){
    padding: 74px 0px;
  }

  .for-center-main02 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(desktop) {
      width: 95%;
    }

    .two-divs-handling-1 {
      // border: 2px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 65px;

      @include breakpoint(tablet-lg){
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @include breakpoint(mobile-lg){
        padding-bottom: 45px;
      }

      .div-two {
        // border: 2px solid green;
        display: flex;
        align-items: center;
        width: 10%;
        justify-content: space-between;
        margin-bottom: 100px;

        @include breakpoint(desktop){
          margin-bottom: 100px;
        }

        @include breakpoint(laptop) {
          width: 12%;
        }

        @include breakpoint(tablet-lg) {
          width: 18%;
          margin-bottom: 15px;
        }

        @include breakpoint(tablet) {
          width: 28%;
          margin-bottom: 15px;
        }

        @include breakpoint(tablet-sm) {
          width: 29%;
        }

        @include breakpoint(mobile-lg) {
          width: 75%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .square-box-color {
          // border: 2px solid green;
          background-color: #d52121;
          width: 11px;
          height: 10px;
          border-radius: 2px;

          @include breakpoint(tablet) {
            width: 15px;
            height: 15px;
          }

          @include breakpoint(mobile-lg) {
            width: 14px;
            height: 14px;
          }

          @include breakpoint(mobile-xxs) {
            width: 13px;
            height: 13px;
          }
        }

        h4 {
          font-size: 18px;
          font-weight: 500;
          color: #29292b;

          @include breakpoint(laptop-sm) {
            font-size: 16px;
          }

          @include breakpoint(tablet-lg) {
            margin-left: 15px;
            font-size: 20px;
          }

          @include breakpoint(tablet) {
            font-size: 25px;
            margin-left: 0px;
          }

          @include breakpoint(mobile-lg) {
            margin-left: 15px;
            font-size: 23px;
          }

          @include breakpoint(mobile-sm) {
            font-size: 23px;
          }

          @include breakpoint(mobile-xxs) {
            font-size: 20px;
            margin-left: 15px;
          }
        }
      }

      .h2-p-tags {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 340px;
        width: 55%;

        @include breakpoint(desktop){
          width: 60%;
          margin-right: 300px;
        }

        @include breakpoint(laptop){
          width: 70%;
          margin-right: 185px;
        }

        @include breakpoint(laptop-md){
          margin-right: 175px;
        }

        @include breakpoint(laptop-sm){
          margin-right: 165px;
        }

        @include breakpoint(tablet-lg){
          margin-right: 0px;
          width: 90%;
        }

        @include breakpoint(tablet){
          margin-right: 0px;
          width: 100%;
        }



        h2 {
          text-align: center;
          font-size: 110px;
          font-weight: 600;
          color: #1e1e1e;

          @include breakpoint(desktop) {
            font-size: 100px;
          }

          @include breakpoint(laptop) {
            font-size: 90px;
          }

          @include breakpoint(laptop-md) {
            font-size: 85px;
          }

          @include breakpoint(tablet-lg) {
            font-size: 65px;
          }

          @include breakpoint(tablet) {
            font-size: 75px;
            text-align: center;
          }

          @include breakpoint(mobile-lg) {
            font-size: 38px;
            line-height: 1.3;
          }

          @include breakpoint(mobile-md) {
            font-size: 37.5px;
          }

          @include breakpoint(mobile) {
            font-size: 36px;
          }

          @include breakpoint(mobile-sm) {
            font-size: 33.9px;
          }

          @include breakpoint(mobile-xs) {
            font-size: 32.5px;
          }

          @include breakpoint(mobile-xxs) {
            font-size: 31.25px;
          }
        }

        p {
          text-align: center;
          font-size: 20px;
          width: 100%;
          padding-top: 8px;
          color: #7f7f80;
          font-weight: 500;
          line-height: 1.3;

          @include breakpoint(desktop) {
            font-size: 20px;
            width: 90%;
          }

          @include breakpoint(laptop-md) {
            font-size: 18px;
            width: 85%;
          }

          @include breakpoint(laptop-sm){
            width: 95%;
          }

          @include breakpoint(tablet-lg) {
            padding-top: 10px;
            width: 100%;
          }

          @include breakpoint(tablet) {
            width: 100%;
          }

          @include breakpoint(mobile-lg) {
            width: 95%;
          }

          @include breakpoint(mobile-md) {
            width: 100%;
          }
        }
      }
    }

    .main-big-div {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;

      .single-div-one {
        // border: 2px solid blue;
        width: 100%;

        // .div-one {
        //   // border: 2px solid red;
        //   // display: flex;
        //   // justify-content: center;
        //   // align-items: center;
        // }
      }

      .two-div {
        // border: 2px solid red;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0px;

        @include breakpoint(tablet-lg){
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;
        }

        .div-two {
          // padding-bottom: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48.5%;

          @include breakpoint(tablet-lg){
            width: 100%;
          }
        }

        .div-three {
          // padding-bottom: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48.5%;

           @include breakpoint(tablet-lg){
            width: 100%;
          }
        }
      }

      .single-div-two {
        // border: 2px solid blue;
        width: 100%;

        .div-four {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
