@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.small-box {
  // border: 2px solid blue;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 210px 0px;

  &:hover {
    transform: scale(1.02);
  }

  .bg-image {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.6s ease;
    z-index: 1; // Keep it behind content

    // This creates the dark overlay
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        // Lighter at the top
        rgba(0, 0, 0, 0.7) 100% // Darker at the bottom where text is
      );
    }
  }

  &:hover .bg-image {
    transform: scale(1.08);
  }

  .content {
    // border: 2px solid red;
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0px;

    @include breakpoint(mobile-lg){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px;
      top: 0px;
    }

    h3 {
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 1rem;
      opacity: 0.9;

      @include breakpoint(mobile-lg){
        text-align: center;
      }
    }

    .text-row {
      // border: 2px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(mobile-lg){
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
      }

      p {
        margin: 0;
        font-size: 18px;
        line-height: 1.5;
        width: 65%;

        @include breakpoint(tablet-lg){
          width: 75%;
        }

        @include breakpoint(mobile-lg){
          text-align: center;
          width: 95%;
        }

        strong {
          font-weight: 680;
        }
      }
    }
  }

  &[data-box-type="wide"] {
    .h4-h5-tags {
      // border: 2px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      width: 30%;

      @include breakpoint(tablet-lg){
        width: 50%;
      }

      @include breakpoint(tablet){
        width: 60%;
      }

      @include breakpoint(tablet-sm){
        width: 65%;
      }

      @include breakpoint(mobile-lg){
        width: 90%;
        margin-top: 30px;
        display: none;
      }

      h4 {
        font-size: 15px;
      }

      h5 {
        font-size: 15px;
      }

      h6 {
        font-size: 15px;
      }
    }
  }

  &[data-box-type="small"]{
     .h4-h5-tags {
      // border: 2px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      width: 65%;

       @include breakpoint(tablet-lg){
        width: 55%;
      }

      @include breakpoint(tablet){
        width: 60%;
      }

      @include breakpoint(tablet-sm){
        width: 65%;
      }

        @include breakpoint(mobile-lg){
        width: 90%;
        margin-top: 30px;
        display: none;
      }

      h4 {
        font-size: 15px;
      }

      h5 {
        font-size: 15px;
      }

      h6 {
        font-size: 15px;
      }
    }
  }
}
