@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.small-box {
  // border: 2px solid blue;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 210px 0px;

  &:hover {
    transform: scale(1.02);
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    // display: flex;
    
    // align-items: center;
  }

  .content {
    // border: 2px solid red;
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: last baseline;
    // align-items: center;
    flex-direction: column;
    // margin-top: 35px;
    bottom: 0px;

    h3 {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 1rem;
      opacity: 0.9;
    }

    .text-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // flex-wrap: wrap;
      // gap: 20px;

      p {
        margin: 0;
        font-size: 18px;
        line-height: 1.5;
        width: 65%;

        strong {
          font-weight: 600;
        }
      }
    }

    .h4-h5-tags {
      // border: 2px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      margin-top: 20px;

      h4 {
        font-size: 15px;
      }

       h5 {
        font-size: 15px;
      }

       h6 {
        font-size: 15px;
      }
    }
  }
}
